extends layout

block content
  main.container(role="main")
 
    div.container
      br
      h1 Board Members
      div.container.table-bordered
        div.row.table-header
          div.col.header Officer
          div.col.header Name
        div.row
          div.col President
          div.col Jesse Reed
        div.row
          div.col Treasurer
          div.col Michael West
        div.row
          div.col Secretary
          div.col Dennis Kelly
        div.row
          div.col omeowner Rep
          div.col Julie Christ
        div.row
          div.col omeowner Rep
          div.col Lois Tobin

    div.container
      br
      h1 Architectural Control Committee
      div.container.table-bordered
        div.row.table-header
          div.col.header Member
        div.row
          div.col Garry Tucker
        div.row
          div.col Traci Bridges
        div.row
          div.col Mike Williams
 
  
    div.container
      br
      h1 Services Committee
      div.container.table-bordered
        div.row.table-header
          div.col.header Role
          div.col.header Name
        div.row
          div.col Social Committee
          div.col Jennifer Vanderschuere
        div.row
          div.col Neighborhood Directory
          div.col Charles Schwarz
        div.row
          div.col Neighborhood Watch
          div.col Scott Eggleston
        div.row
          div.col Website
          div.col David McRaven
