extends layout

block content

  h1 Board Members
  table(class="directory" width="90%")
    tr
      td Officer
      td Name
    tr
      td President
      td Jesse Reed
    tr
      td Secretary
      td Molly Branch
    tr
      td Treasurer
      td Michael West
    tr
      td Homeowner Rep
      td Julie Christ
    tr
      td Homeowner Rep
      td Lois Tobin
 
  h1 Architectrual Control Committee
  table(class="directory" width="60%")
    tr
      td Member
    tr
      td Traci Bridges
    tr
      td Mike Williams
    tr
      td Garry Tucker
  
  h1 Social Committee
  table(class="directory" width="60%")
    tr
      td Member
    tr
      td Jennifer Vanderschuere
 
  h1 Services Committee
  table(class="directory" width="90%")
    tr
      td Officer
      td Name
    tr
      td Neighborhood Directory
      td Charles Schwarz
    tr
      td Neighborhood Watch
      td Scott Eggleston
    tr
      td Website
      td David McRaven
