extends layout

block content
  main.container(role="main")
    div.container
      h1 Board Members
      table.table.table-bordered
        thead.thread-dark
          tr.m-0
            td.col-sm-6 Officer
            td.col-sm-6 Name
        tbody
          tr.m-0
            td.col-sm-6 President
            td.col-sm-6 Jesse Reed
          tr.m-0
            td.col-sm-6 Treasurer
            td.col-sm-6 Michael West
          tr.m-0
            td.col-sm-6 Secretary
            td.col-sm-6 Dennis Kelly
          tr.m-0
            td.col-sm-6 Homeowner Rep
            td.col-sm-6 Julie Christ
          tr.m-0
            td.col-sm-6 Homeowner Rep
            td.col-sm-6 Lois Tobin
 
    div.container
      h1 Architectural Control Committee
      table.table.table-bordered
        thead.thread-dark
          tr.m-0
            th.col-sm-6 Member
        tbody
          tr.m-0
            td.col-sm-6 Garry Tucker
          tr.m-0
            td.col-sm-6 Traci Bridges
          tr.m-0
            td.col-sm-6 Mike Williams
  
    div.container
      h1 Social Committee
      table.table.table-bordered
        thead.thread-dark
          tr.m-0
            td.col-sm-6 Member
        tbody
          tr.m-0
            td.col-sm-6 Jennifer Vanderschuere
 
    div.container
      h1 Services Committee
      table.table.table-bordered
        thead.thread-dark
          tr.m-0
            td.col-sm-6 Role
            td.col-sm-6 Name
        tbody
          tr.m-0
            td.col-sm-6 Neighborhood Directory
            td.col-sm-6 Charles Schwarz
          tr.m-0
            td.col-sm-6 Neighborhood Watch
            td.col-sm-6 Scott Eggleston
          tr.m-0
            td.col-sm-6 Website
            td.col-sm-6 David McRaven
