extends layout

block content
  main.container(role="main")
    div.container
      h1 Board Members
      table.table.table-bordered
        thead.thread-dark
          tr.m-0
            td.col-3 Officer
            td.col-3 Name
        tbody
          tr.m-0
            td.col-3 President
            td.col-3 Jesse Reed
          tr.m-0
            td.col-3 Treasurer
            td.col-3 Michael West
          tr.m-0
            td.col-3 Secretary
            td.col-3 Dennis Kelly
          tr.m-0
            td.col-3 Homeowner Rep
            td.col-3 Julie Christ
          tr.m-0
            td.col-3 Homeowner Rep
            td.col-3 Lois Tobin
 
    div.container
      h1 Architectural Control Committee
      table.table.table-bordered
        thead.thread-dark
          tr.m-0
            th.col-3 Member
        tbody
          tr.m-0
            td.col-3 Garry Tucker
          tr.m-0
            td.col-3 Traci Bridges
          tr.m-0
            td.col-3 Mike Williams
  
    div.container
      h1 Social Committee
      table.table.table-bordered
        thead.thread-dark
          tr.m-0
            td.col-3 Member
        tbody
          tr.m-0
            td.col-3 Jennifer Vanderschuere
 
    div.container
      h1 Services Committee
      table.table.table-bordered
        thead.thread-dark
          tr.m-0
            td.col-3 Officer
            td.col-3 Name
        tbody
          tr.m-0
            td.col-sm-3 Neighborhood Directory
            td.col-sm-3 Charles Schwarz
          tr.m-0
            td.col-sm-3 Neighborhood Watch
            td.col-sm-3 Scott Eggleston
          tr.m-0
            td.col-sm-3 Website
            td.col-sm-3 David McRaven
