extends layout

block content

  main(role="main")
    div.container
      h1 Eagle Pointe Homes For Sale
      p No homes are currently for sale.  Please check back!
      
      div.google-map.embed-responsive.embed-responsive-4by3.table-bordered
        iframe.border.embed-responsive(src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d2800.475972358263!2d-122.80426520383614!3d45.41990576877379!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1523142192204" width="600" height="450" frameborder="0" style="border:0" allowfullscreen)
      
      br
      
      table.table.table-bordered
        thead.thread-dark
          tr.m-0
            td.col-3 Home
        tbody
          tr.m-0
            td.col-3 
              a(target="_blank" href="http://www.zillow.com/homes/13843-SW-124th-Ave,-Tigard,-OR-97223_rb/") 13843 SW 124th Ave
