extends layout

block content

  main(role="main")
    div.container
      h1 Eagle Pointe Homes For Sale
      p No homes are currently for sale.  Please check back!

      table.table.table-bordered
        thead.thread-dark
          tr.m-0
            td.col-3 Home
        tbody
          tr.m-0
            td.col-3 
              a(target="_blank" href="http://www.zillow.com/homes/13843-SW-124th-Ave,-Tigard,-OR-97223_rb/") 13843 SW 124th Ave
