extends layout

block content

  main(role="main")  
    div.jumbotron
      div.container
        h1.display-3 Welcome to #{title} in Tigard, Oregon.
        p This site provides the current and future residents an interactive means of staying current with the latest news and events in our neighborhood.
        p If you are new to the neighborhood, take a look at the Points of Interest.
        p The Eagle Pointe neighborhood has several upcoming events.  All neighbors are welcome!
      
    div.container
      table.table.table-bordered
        thead.thread-dark
          tr.m-0
            td.col-3 Event
            td.col-3 Date
            td.col-3 Location
        tbody
          tr.m-0
            td.col-3 HOA Meeting
            td.col-3 April 7, 2018 @ 9am
            td.col-3 Firestation, 12617 SW Walnut
