extends layout

block content

  h1 City Services
  div.container
    table.table.table-bordered
      thead.thread-dark
        tr.m-0
          td.col-3 Office
          td.col-3 Phone
          td.col-3 Description
      tbody
        tr.m-0
          td.col-3 Emergency Services
          td.col-3 911
          td.col-3 Emergency fire and police
        tr.m-0
          td.col-3 
            a(href="http://www.tigard-or.gov/police/index.php" target="_blank") Tigard Police (Non-Emergency) 
          td.col-3 (503) 629-0111
          td.col-3 Non-emergency police services
        tr.m-0
          td.col-3 
            a(href="http://www.tvfr.com/" target="_blank") Fire (Non-Emergency)
          td.col-3 (503) 649-8577 
          td.col-3 Tualitan Valley Fire &amp; Rescue.  Business Operations Center. 
        tr.m-0
          td.col-3 
            a(href="https://www.ttsdschools.org/Domain/241" target="_blank") Charles F. Tigard Grade School
          td.col-3 (503) 431-4400
          td.col-3 Grade School (K-5)
        tr.m-0
          td.col-3 
            a(href="https://www.ttsdschools.org/Domain/634" target="_blank") Fowler Middle School
          td.col-3 (503) 431-5000
          td.col-3 Middle School (6-8)
        tr.m-0
          td.col-3 
            a(href="https://www.ttsdschools.org/Domain/769" target="_blank") Tigard High School
          td.col-3 (503) 431-5400
          td.col-3 High School (9-12)
        tr.m-0
          td.col-3 
            a(href="http://www.oregon.gov/" target="_blank") State of Oregon
          td.col-3 See website
          td.col-3 List of state services
        tr.m-0
          td.col-3 
            a(href="http://www.co.washington.or.us/hhs/AnimalServices/" target="_blank") Washington County Animal Control
          td.col-3 (503) 846-7041
          td.col-3 Animal control
      
  h1 Utility Providers
  div.container
    table.table.table-bordered
      thead.thread-dark
        tr.m-0
          td.col-3 Company
          td.col-3 Phone
          td.col-3 Description
      tbody
        tr.m-0
          td.col-3 
            a(href="https://my.xfinity.com/?cid=cust&amcid=SEG_MYACCOUNT&ts=3" target="_blank") Comcast
          td.col-3 (888) 824-8264
          td.col-3 Telephone/cable
        tr.m-0
          td.col-3 
            a(href="https://www.centurylink.com/index.html" target="_blank") CenturyLink
          td.col-3 (800) 244-1111
          td.col-3 Telephone/internet
        tr.m-0
          td.col-3 
            a(href="https://www.verizon.com/?lid=//global//residential" target="_blank") Verizon Telephone
          td.col-3 (800) 483-4000
          td.col-3 Telephone/internet
        tr.m-0
          td.col-3 
            a(href="https://www.nwnatural.com" target="_blank") NW Natural Gas
          td.col-3 (503) 226-4211
          td.col-3 Natural gas provider
        tr.m-0
          td.col-3 
            a(href="https://www.portlandgeneral.com" target="_blank") Portland General Electric (PGE)
          td.col-3 (503) 228-6322 &nbsp;or (800) 542-8818
          td.col-3 Electric utility provider-Customer Service     
        tr.m-0
          td.col-3 
            a(href="http://pridedisposal.com/" target="_blank") Pride Disposal
          td.col-3 (503) 625-6177
          td.col-3 Waste disposal utility
        tr.m-0
          td.col-3 
            a(href="https://tigard.merchanttransact.com/" target="_blank") City of Tigard
          td.col-3 (503) 718-2460
          td.col-3 Sewer and Water Service Payments
        tr.m-0
          td.col-3 
            a(href="https://www.cleanwaterservices.org/" target="_blank") Clean Water Services
          td.col-3 (503) 681-3600
          td.col-3 Water supplier (billed through City of Tigard)
        tr.m-0
          td.col-3 
            a(href="http://www.maccor.org/" target="_blank") MACC (Metropolitan Area Communications Commission)
          td.col-3 (503) 645-7365
          td.col-3 Cable Television Complaint resolution
