extends layout

block content

  h1 Points of Interest
  table(class="directory" width="90%")
    tr
      td(colspan="3") City Services
    tr
      td 
        b Emergency Services
      td 
        b 911
      td Emergency fire and police
    tr
      td 
        a(href="http://www.tigard-or.gov/police/index.php" target="_blank") Tigard Police (Non-Emergency)
      td (503) 629-0111
      td Non-emergency police services
    tr
      td
        a(href="http://www.tvfr.com/" target="_blank") Fire (Non-Emergency)
      td (503) 649-8577
      td Tualitan Valley Fire &amp; Rescue.  Business Operations Center.
    tr
      td
        a(href="https://www.ttsdschools.org/Domain/241" target="_blank") Charles F. Tigard Grade School
      td (503) 431-4400
      td Grade School (K-5)
    tr
      td
        a(href="https://www.ttsdschools.org/Domain/634" target="_blank") Fowler Middle School
      td (503) 431-5000
      td Middle School (6-8)
    tr
      td
        a(href="https://www.ttsdschools.org/Domain/769" target="_blank") Tigard High School
      td (503) 431-5400
      td High School (9-12)
    tr
      td
        a(href="http://www.oregon.gov/" target="_blank") State of Oregon
      td See website 
      td List of state services
    tr
      td
        a(href="http://www.co.washington.or.us/hhs/AnimalServices/" target="_blank") Washington County Animal Control
      td (503) 846-7041
      td Animal control
      
  h1 Utility Providers
  table(class="directory" width="90%")
    tr
      td(colspan="3") City Services
    tr
      td 
        a(href="https://my.xfinity.com/?cid=cust&amcid=SEG_MYACCOUNT&ts=3" target="_blank") Comcast
      td (888) 824-8264
      td Telephone/cable
    tr
      td 
        a(href="https://www.centurylink.com/index.html" target="_blank") CenturyLink
      td (800) 244-1111
      td Telephone/internet
    tr
      td 
        a(href="https://www.verizon.com/?lid=//global//residential" target="_blank") Verizon Telephone
      td (800) 483-4000
      td Telephone/internet
    tr
      td 
        a(href="https://www.nwnatural.com" target="_blank") NW Natural Gas
      td (503) 226-4211
      td Natural gas provider
    tr
      td 
        a(href="https://www.portlandgeneral.com" target="_blank") Portland General Electric (PGE)
      td (503) 228-6322 &nbsp;or (800) 542-8818
      td Electric utility provider-Customer Service     
    tr
      td 
        a(href="http://pridedisposal.com/" target="_blank") Pride Disposal
      td (503) 625-6177
      td Waste disposal utility
    tr
      td 
        a(href="https://tigard.merchanttransact.com/" target="_blank") City of Tigard
      td (503) 718-2460
      td Sewer and Water Service Payments
    tr
      td 
        a(href="https://www.cleanwaterservices.org/" target="_blank") Clean Water Services
      td (503) 681-3600
      td Water supplier (billed through City of Tigard)
    tr
      td 
        a(href="http://www.maccor.org/" target="_blank") MACC
        d (Metropolitan Area Communications Commission)
      td (503) 645-7365
      td Cable Television Complaint resolution
