extends layout

block content

  div.container
    br
    h1 City Services
    div.container.table-bordered
      div.row.table-header
        div.col.header Office
        div.col.header Phone
        div.col.header Description
      div.row
        div.col Emergency Services
        div.col 911
        div.col Emergency fire and police
      div.row
        div.col 
          a(href="http://www.tigard-or.gov/police/index.php" target="_blank") Tigard Police (Non-Emergency) 
        div.col (503) 629-0111
        div.col Non-emergency police services
      div.row
        div.col 
          a(href="http://www.tvfr.com/" target="_blank") Fire (Non-Emergency)
        div.col (503) 649-8577
        div.col Tualitan Valley Fire &amp; Rescue.  Business Operations Center.
      div.row
        div.col 
          a(href="https://www.ttsdschools.org/Domain/241" target="_blank") Charles F. Tigard Grade School
        div.col (503) 431-4400
        div.col Grade School (K-5)
      div.row
        div.col 
          a(href="https://www.ttsdschools.org/Domain/634" target="_blank") Fowler Middle School
        div.col (503) 431-5000
        div.col Middle School (6-8)
      div.row
        div.col 
          a(href="https://www.ttsdschools.org/Domain/769" target="_blank") Tigard High School
        div.col (503) 431-5400
        div.col High School (9-12)
      div.row
        div.col 
          a(href="http://www.oregon.gov/" target="_blank") State of Oregon
        div.col See website
        div.col List of state services
      div.row
        div.col 
          a(href="http://www.co.washington.or.us/hhs/AnimalServices/" target="_blank") Washington County Animal Control
        div.col (503) 846-7041
        div.col Animal control

  div.container
    br
    h1 Utility Providers
    div.container.table-bordered
      div.row.table-header
        div.col.header Company
        div.col.header Phone
        div.col.header Description
      div.row
        div.col 
          a(href="https://my.xfinity.com/?cid=cust&amcid=SEG_MYACCOUNT&ts=3" target="_blank") Comcast
        div.col (888) 824-8264
        div.col Telephone/cable
      div.row
        div.col 
          a(href="https://www.centurylink.com/index.html" target="_blank") CenturyLink
        div.col (800) 244-1111
        div.col Telephone/internet
      div.row
        div.col 
          a(href="https://www.verizon.com/?lid=//global//residential" target="_blank") Verizon Telephone
        div.col (800) 483-4000
        div.col Telephone/internet
      div.row
        div.col 
          a(href="https://www.nwnatural.com" target="_blank") NW Natural Gas
        div.col (503) 226-4211
        div.col Natural gas provider
      div.row
        div.col 
          a(href="https://www.portlandgeneral.com" target="_blank") Portland General Electric (PGE)
        div.col (503) 228-6322 &nbsp;or (800) 542-8818
        div.col Electric utility provider-Customer Service
      div.row
        div.col 
          a(href="http://pridedisposal.com/" target="_blank") Pride Disposal
        div.col (503) 625-6177
        div.col Waste disposal utility
      div.row
        div.col 
          a(href="https://tigard.merchanttransact.com/" target="_blank") City of Tigard
        div.col (503) 718-2460
        div.col Sewer and Water Service Payments
      div.row
        div.col 
          a(href="https://www.cleanwaterservices.org/" target="_blank") Clean Water Services
        div.col (503) 681-3600
        div.col Water supplier (billed through City of Tigard)
      div.row
        div.col 
          a(href="http://www.maccor.org/" target="_blank") MACC (Metropolitan Area Communications Commission)
        div.col (503) 645-7365
        div.col Cable Television Complaint resolution
