doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    //  The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    meta(name="description" content="Globegistics, a premium provider of tax integration services.")
    meta(name="author" content="Sabrix, Inc.")
    meta(name="Copyright" content="Copyright © 2010-2018 by Sabrix, Inc.")
    meta(name="Version" content="2.0.0.0")

    title= title
    link(href='/css/bootstrap.min.css' rel='stylesheet')
    link(href='/css/bootstrap.min.css' rel='stylesheet')
    link(href='/css/style.css' rel='stylesheet')
    link(href='/images/favicon.png' rel="shortcut icon" )

    //script($(window).resize(function () { 
    //$('body').css('padding-top', parseInt($('#main-navbar')height(")))+10);});

    //$(window).load(function () { 
    //$('body').css('padding-top', parseInt($('#main-navbar').height()))+10);});)

  body
    nav.navbar.navbar-expand.navbar-dark.fixed-top.bg-dark
      a.navbar-brand(href="/" aria-label="Tigard Eagle Pointe") 
        span.logo Eagle
        span.logo2 Pointe

      button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navDefault" aria-controls="navDefault" aria-expanded="false" aria-label="Toggle navigation")
        span.navbar-toggler-icon
      
      div#navDefault.collapse.navbar-collapse
        ul.navbar-nav.bd-navbar-nav.flex-row
          li.nav-item
            a.nav-link.active(href="FAQ") HOA Documents
  
          ul.navbar-nav.flex-row.ml-md-auto.d-none.d-md-flex
            li.nav-item.dropdown.active
              a#navbarNav.nav-item.nav-link.dropdown-toggle.mr-md-2(href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Details
              div.dropdown-menu.dropdown-menu-right.bg-dark(aria-labelledby="navbarNav")
                a.dropdown-item.bg-dark.active(href="board") HOA Board
                a.dropdown-item.bg-dark.active(href="interest") Points of Interest
                a.dropdown-item.bg-dark.active(href="homes") Homes for Sale
                //a.dropdown-item.bg-dark.active(href="sponsors") Sponsors

    block content
    
    footer#footer.container-flex.bd-footer
      div.container-fluid.p-3.p-md-5
        p.text-muted COPYRIGHT &copy; 2010-2018, All Rights Reserved&nbsp;|&nbsp; Powered with&nbsp;
          a(target="_blank" href="http://globegistics.com") Sabrix, Inc
          span .&nbsp;|&nbsp; 
          a(href="privacy") Privacy Notice
    //================================================== 
    // Placed at the end of the document so the pages load faster 
    script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous")
    //script(src='/js/bootstrap.min.js')
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous")