extends layout

block content

  main(role="main")  
    div.container
      h1 Privacy Notice
      p Eagle Pointe Home Owners Association (EPHOA) knows that you care how information about you is used and shared, and we appreciate your trust that we will do so carefully and sensibly. This notice describes our privacy policy. By visiting the EPHOA website, you are accepting the practices described in this Privacy Notice.
      ul
        li
          a(href="#gather") What Personal Information About Visitors Does EPHOA Gather?
        li 
          a(href="#cookies") What About Cookies?
        li 
          a(href="#share") Does EPHOA Share the Information It Receives?
        li 
          a(href="#third_party") What About Links to Other Websites?
        li 
          a(href="#access") Which Information Can I Access?
        li 
          a(href="#choices") What Choices Do I Have?
        li
          a(href="#children") Are Children Allowed to Use EPHOA?
        li 
          a(href="#conditions") Conditions of Use, Notices, and Revisions
        li 
          a(href="#effective") Effective Date
  
      h2
        a#gather What Personal Information About Visitors Does EPHOA gather?

      p The information we learn from customers helps us personalize and continually improve your experience at EPHOA. Here are the types of information we gather.

        p
          b Information You Give Us. 
          span We receive and store any information you enter on our Web site or give us in any other way. You can choose not to provide certain information, but then you might not be able to take advantage of many of our features. We use the information that you provide for such purposes as responding to your requests, customizing future browsing for you, improving our site, and communicating with you.
        p
          b Automatic Information. 
          span We receive and store certain types of information whenever you interact with us. For example, like many Web sites, we use "cookies," and we obtain certain types of information when your Web browser accesses EPHOA.
        p
          b E-mail Communications. 
          span In the future, we may offer e-mail notificiations for service and product updates. If you do not want to receive e-mail from us, please sending an email to 
          a(href="mailto:eaglepoint@comcast.net") eaglepoint@comcast.net
          span &nbsp with UNSUBSCRIBE in the subject field.

      h2 
        a#cookies What About Cookies?
      p Cookies are alphanumeric identifiers that we transfer to your computer's hard drive through your Web browser to enable web providers  to recognize your browser and to provide features custom features.  EPHOA does not use cookies. 
      p The Help portion of the toolbar on most browsers will tell you how to prevent your browser from accepting new cookies, how to have the browser notify you when you receive a new cookie, or how to disable cookies altogether.

      h2 
        a#share Does EPHOA Share the Information It Receives?
      p Information about our customers is an important part of our business, and we are not in the business of selling it to others. We share customer information only as described below. 

      ul
        li 
          b Third-Party Service Providers 
          span We employ other companies and individuals to perform functions on our behalf. Examples include website maintenance, sending postal mail and e-mail, removing repetitive information from customer lists, analyzing data, and providing customer service. They have access to personal information needed to perform their functions, but may not use it for other purposes.
        li 
          b Business Transfers 
          span As we continue to develop our business, we might buy or merge with other service providers. In such transactions, customer information generally is one of the transferred business assets but remains subject to the promises made in any pre-existing Privacy Notice (unless, of course, the customer consents otherwise).
        li 
          b Protection of EPHOA and Others.
          span We release account and other personal information when we believe release is appropriate to comply with the law; enforce or apply our Conditions of Use and other agreements; or protect the rights, property, or safety of EPHOA, our users, or others. This includes exchanging information with other companies and organizations for fraud protection and credit risk reduction. However, this does not include selling, renting, sharing, or otherwise disclosing personally identifiable information from customers for commercial purposes in violation of the commitments set forth in this Privacy Notice.
        li 
          b With Your Consent 
          span Other than as set out above, you will receive notice when information about you might go to third parties, and you will have an opportunity to choose not to share the information.

      h2 
        a#third_party What About Links to Other Websites?
      p Our site may include links to other websites. We do not provide any personally identifiable customer information to these third-party websites.
      p These third-party websites may also use cookies, JavaScript, web beacons (also known as action tags or single-pixel gifs), and other technologies to measure the effectiveness of their ads and to personalize advertising content. We do not have access to or control over cookies or other features that they may use, and the information practices of these third-party websites are not covered by this Privacy Notice. Please contact them directly for more information about their privacy practices.

      h2 
        a#access Which Information Can I Access?
      p EPHOA may provide downloadable information regarding community actvities and services.

      h2 
        a#choices What Choices Do I Have?
      p As discussed above, you can always choose not to provide information. If you do not want to receive e-mail or other mail from us, please follow instructions under 
        a#gather What Personal Information About Customers Does EPHOA Gather?
      p The Help portion of the toolbar on most browsers will tell you how to prevent your browser from accepting new cookies, how to have the browser notify you when you receive a new cookie, or how to disable cookies altogether. Additionally, you can disable or delete similar data used by browser add-ons, such as Flash cookies, by changing the add-on's settings or visiting the Website of its manufacturer. 

      h2 
        a#children Are Children Allowed to Use EPHOA?
      p We comply with the Children’s Online Privacy Protection Act ("COPPA"). Our Site is not directed to children under the age of 13. 

      h2 
        a#conditions Conditions of Use, Notices, and Revisions
      p If you choose to visit EPHOA, your visit and any dispute over privacy is subject to this Notice, including limitations on damages, arbitration of disputes, and application of the law of the state of Oregon. If you have any concern about privacy at EPHOA, please 
        a(href="#about") contact us 
        span with a thorough description, and we will try to resolve it.
      p Our business changes constantly, and our Privacy Notice will change also; you should check our Web site frequently to see recent changes. Unless stated otherwise, our current Privacy Notice applies to all information that we have about you and your account. We stand behind the promises we make, however, and will never materially change our policies and practices to make them less protective of customer information collected in the past without the consent of affected customers.

      h2 
        a#effective Effective Date
      p This policy was last revised on April 1, 2018.
