/* DEFAULTS
----------------------------------------------------------*/
body
{
    padding-top: 70px;
    background:#eee;
}

thead
{
    background-color: #FC0;
    color: white;
    font-weight:bold;
    font-size: 1.25em;
}


.navbar {
    background-image: -webkit-linear-gradient(#04519b, #044687 60%, #033769);
    background-image: -o-linear-gradient(#04519b, #044687 60%, #033769);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#04519b), color-stop(60%, #044687), to(#033769));
    background-image: linear-gradient(#04519b, #044687 60%, #033769);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff04519b', endColorstr='#ff033769', GradientType=0);
    -webkit-filter: none;
            filter: none;
    border-bottom: 1px solid #022241;
}

.logo {
    font-size: 30px;
    font-weight: 300;
    color: #eeeeee;
 }

.logo2 {
    font-size: 30px;
    font-weight: 300;
    color: #FC0;
    vertical-align: baseline;
}

.jumbotron { 
    background: url("/images/h1.png");
    background-repeat: repeat-y;
    background-size: 100%;
    color: #033769;
}

.opaque {
    opacity: 1;
    background: rgba(255,255,255,.5);
    border-color: #033769;
    padding: 30px;
}

.table-header
{
    background-color: #FC0;
    color: white;
    font-weight:bold;
}

.table-bordered {
    border-style: solid;
    border-width: medium;
    border-color: #033769;
}

.table-bordered div.row {
    border-style: solid;
    border-width: .5px;
    border-color: #aaa;
    padding: 5px 0
}

.old{
    background-color: #ccc;
    color: #eee;
}

#footer {
    padding-top: 20px;
    padding-bottom: 30px;
    margin-top: 50px;
    list-style-type: none;
    border-top: 1px solid #e5e5e5;
    background-color: #022241;
    color: #eee;
    text-align: center;
    height: 10rem;
}

.google-map {
    border-width: medium;
    /*color: #fff; */
    border-color: #033769;
    padding-bottom: 1rem;
}

 #footer a {
    color: #FC0;
  }
   